<section class="accounts section--lg">
    <div class="accounts__container container grid">
      <div class="account__tabs">
        <p class="account__tab active-tab" data-target="#dashboard">
          <i class="fi fi-rs-settings-sliders"></i> Dashboard
        </p>
        <p class="account__tab" data-target="#orders">
          <i class="fi fi-rs-shopping-bag"></i> Orders
        </p>
        <p class="account__tab" data-target="#update-profile">
          <i class="fi fi-rs-user active-tab"></i> Update Profile
        </p>
        <p class="account__tab" data-target="#change-password">
          <i class="fi fi-rs-settings-sliders"></i> Change Password
        </p>
        <a href="{% url 'logout_user' %}"><p class="account__tab"><i class="fi fi-rs-exit"></i> Logout</p></a>
      </div>
      <div class="tabs__content">
        <div class="tab__content " content id="dashboard">
          <h3 class="tab__header">Assalomu Alaykum , {{request.user.username}}</h3>
          <div class="tab__body">
            <p class="tab__description">
              Hisobingiz boshqaruv panelidan. siz so'nggi buyurtmangizni osongina tekshirishingiz va ko'rishingiz, etkazib berish va hisob-kitob manzillaringizni boshqarishingiz, parol va hisob ma'lumotlarini tahrirlashingiz mumkin
            </p>
          </div>
        </div>
        <div class="tab__content" content id="orders">
          <h3 class="tab__header">Sizning Buyurtmangizni</h3>
          <div class="tab__body">
            <table class="placed__order-table">
              <thead>
                <tr>
                  <th>Order id</th>
                  <th>Sana</th>
                  <th>Holati</th>
                  <th>Narxi</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
              {% for o in orders %}
                <tr>
                  <td>#{{o.order.id}}</td>
                  <td>{{o.order.created_at}}</td>
                  <td>{{o.order.status}}</td>
                  <td>${{o.total_price}}</td>
                  <td><a href="#" class="view__order">View</a></td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </div>
        <div class="tab__content active-tab" content id="update-profile">
          <h3 class="tab__header">Update Profile</h3>
          <div class="tab__body">
            <form class="form grid" method="post">

                {% csrf_token %}
                {% for field in form %}
                  {{field.errors}}
                  {{field}}
                {% endfor %}
             
              <div class="form__btn">
                <button class="btn btn">Save</button>
              </div>
            </form>
          </div>
        </div>
        <div class="tab__content" content id="change-password">
          <h3 class="tab__header">Change Password</h3>
          <div class="tab__body">
            <form class="form grid" method="post" action="{% url 'password' %}">
              {% csrf_token %}
              <input
                type="password"
                placeholder="Current Password"
                class="form__input"
                name="current_password"
              />
              <input
                type="password"
                placeholder="New Password"
                class="form__input"
                name="new_password"
              />
              <input
                type="password"
                placeholder="Confirm Password"
                class="form__input"
                name="new_password2"
              />
              <div class="form__btn">
                <button class="btn btn" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>