<section class="cart section--lg container">
    <div class="table__container">
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Rename</th>
          </tr>
        </thead>
        <tbody>
          {% for p in products.products %}
          <tr>
            <td>
              <img
                src="{{p.product.image.url}}"
                alt=""
                class="table__img"
              />
            </td>
            <td>
              <h3 class="table__title">
                {{p.products.product.name}}
              </h3>
              <p class="table__description">
                {{p.product.description | truncatewords:7}}
              </p>
            </td>
            <td>
              
              {% if p.product.discount > 0 %}
                <span class="table__price">${{p.product.discount_price}}</span>
                <span class="old__price">${{ p.product.price }}</span>
              {% else %}
                <span class="table__price">${{p.product.price}}</span>
              {% endif %}

            </td>
            <td><input type="number" value="{{p.quantity}}" class="quantity"  readonly/></td>
            <td><span class="subtotal">${{p.total}}</span></td>
            <td><a href="{% url 'remove' p.product.id %}"><i class="fi fi-rs-trash table__trash"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="cart__actions">
      <a href="{% url 'shop' %}" class="btn flex btn__md">
        <i class="fi-rs-shopping-bag"></i> Xaridni davom etish
      </a>
    </div>

    <div class="divider">
      <i class="fi fi-rs-fingerprint"></i>
    </div>

    <div class="cart__group grid">
      
      

      <div class="cart__total">
        <h3 class="section__title">Xarid Narxi</h3>
        <table class="cart__total-table">
            <tr>
              <td><span class="cart__total-title">Chegirmasiz narx</span></td>
              <td><span class="old__price cart__total-price  ">${{products.total_price}}</span></td>
            </tr>
            <tr>
              <td><span class="cart__total-title">Chegirma bilan</span></td>
              <td><span class="cart__total-price">${{products.total_with_discount}}</span></td>
            </tr>
            <tr>
              <td><span class="cart__total-title">Siznig foydangiz</span></td>
              <td><span class="cart__total-price">${{products.profit}}</span></td>
            </tr>
        </table>
        <a href="{% url 'checkout' %}" class="btn flex btn"> 
          <i class="fi fi-rs-box-alt"></i> Keyingisiga o'tish
        </a>
      </div>
    </div>
  </section>