{% load static %}
<section class="categories container section">
    <h3 class="section__title"><span>Ommabop</span> Toifalar</h3>
    <div class="categories__container swiper">
      <div class="swiper-wrapper">
        {% for c in category %}

        <a href="" class="category__item swiper-slide">
          <img
            src="{{c.image.url}}"
            alt=""
            class="category__img"
          />
          <h3 class="category__title">{{c.name}}</h3>
        </a>
        {% endfor %}
        
      </div>
      <div class="swiper-button-prev">
        <i class="fi fi-rs-angle-left"></i>
      </div>
      <div class="swiper-button-next">
        <i class="fi fi-rs-angle-right"></i>
      </div>
    </div>
  </section>