<section class="checkout section--lg">
    <div class="checkout__container container grid">
      <div class="checkout__group">
        <h3 class="section__title"> Buyurtma manzili</h3>
        <form class="form grid" method="post">
           {% csrf_token %}
          <input type="text" placeholder="Manzil" class="form__input" name="address" required />
       
          <h3 class="checkout__title">Qo'shimcha malumotlar</h3>
          <textarea
            name="additional"
            placeholder="Qo'shimcha malumotlar"
            class="form__input textarea"
          ></textarea>
           <button class="btn btn--md" type="submit">Buyurtma yaratish</button>
        </form>
      </div>
      <div class="checkout__group">
        <h3 class="section__title">Buyurtma Tafsilotlari</h3>
        <table class="order__table">
          <thead>
            <tr>
              <th colspan="2">Mahsulotlar</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody>
            {% for p in products.products %}
            <tr>
              <td>
                <img
                  src="{{p.product.image.url}}"
                  alt=""
                  class="order__img"
                />
              </td>
              <td>
                <h3 class="table__title">{{p.product.name}}</h3>
                <p class="table__quantity">x {{p.quantity}}</p>
              </td>
              <td><span class="table__price">${{p.total}}</span></td>
            </tr>
            {% endfor %}
           
            
            <tr>
              <td><span class="order__subtitle">Chegirmasiz narx</span></td>
              <td colspan="2"><span class="table__price old__price">${{products.total_price}}</span></td>
            </tr>
            <tr>
              <td><span class="order__subtitle">Chegirma bilna</span></td>
              <td colspan="2">
                <span class="table__price">${{products.total_with_discount}}</span>
              </td>
            </tr>
            <tr>
              <td><span class="order__subtitle">Siznig foydangiz</span></td>
              <td colspan="2">
                <span class="order__grand-total">${{products.profit}}</span>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </section>