<div><hr class="review__divider">
</div>
<section class="details__tab container">
    <div class="detail__tabs">
    </div>
    <div class="details__tabs-content">
      <div class="details__tab-content " content id="info">
      </div>
      <div class="details__tab-content active-tab" content id="reviews">
        <div class="reviews__container grid">
          <h3>Fikrlar ({{ reviews.count }})</h3>
          {% if reviews %}
          <div id="reviews-container">
            {% for review in reviews %}
              <div class="review__single">
                <div>
                  <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="" class="review__img" />
                </div>
                <div class="review__data">
                  <h4 class="review__title">{{ review.username }}</h4>
                  <div class="review__rating">
                    <i class="fi fi-rs-star"></i><i class="fi fi-rs-star"></i><i class="fi fi-rs-star"></i>
                    <i class="fi fi-rs-star"></i><i class="fi fi-rs-star"></i>
                  </div>
                  <p class="review__description">{{ review.comment_text|truncatewords:8 }}</p>
                  <span class="review__date">{{ review.created_at|date:"d-m-Y H:i" }}</span>
                </div>
              </div>
            {% endfor %}
          </div>
        
          <button id="load-more-btn" class="see-more-btn">See more</button>
        {% else %}
          <p>Hozircha izohlar yo‘q 😔</p>
        {% endif %}
        
        
          
        
        </div>
        <div class="review__form">
          <h4 class="review__form-title">Add a review</h4>
           <div class="review__data">
            <div class="review__rating">
              <i class="fi fi-rs-star "></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
              <i class="fi fi-rs-star"></i>
            </div>
          <form method="post" class="form grid" action="{% url 'review' product.id %}">
            {% csrf_token %}
            <textarea
              class="form__input textarea"
              placeholder="Write Comment"
              name="comment_text"
            ></textarea>
            <div class="form__group grid">
              <input type="text" placeholder="Name" class="form__input" name="username">
              <input type="email" placeholder="Email" class="form__input" name="email">
            </div>
            <div class="form__btn">
              <button class="btn" type="submit">Submit Review</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
 >
  