<section class="details section--lg">
    <div class="details__container container grid">
      <div class="details__group">
        <img
          src="{{product.image.url}}"
          alt=""
          class="details__img"
        />
       
        <div class="details__small-images grid">
          <img
            src="./assets/img/product-8-2.jpg"
            alt=""
            class="details__small-img"
          />
          <img
            src="./assets/img/product-8-1.jpg"
            alt=""
            class="details__small-img"
          />
          <img
            src="./assets/img/product-8-2.jpg"
            alt=""
            class="details__small-img"
          />
        </div>

      </div>
      <div class="details__group">
  
        <h3 class="details__title">{{product.name}}</h3>
        <p class="details__brand">Brand: <span>{{product.brand}}</span></p>
        <div class="details__price flex">
          {% if product.discount > 0 %}
            <span class="new__price">${{product.discount_price}}</span>
            <span class="old__price">${{product.price}}</span>
            <span class="save__price">{{product.discount}}% Off</span>
          {% else %}
            <span class="new__price">${{product.price}}</span>
          {% endif %}
             
        </div>
        <p class="short__description">
          {{product.description}}
        </p>
        <ul class="products__list">
          <li class="list__item flex">
            <i class="fi-rs-crown"></i> Breand uchun 1 yilik kafolat
          </li>
          <li class="list__item flex">
            <i class="fi-rs-refresh"></i> 1 oy ichida qaytarish imkoni
          </li>
          <li class="list__item flex">
            <i class="fi-rs-credit-card"></i> Yetkazib berishda naqd pul mavjud
          </li>
        </ul>
        <!-- <div class="details__color flex">
          <span class="details__color-title">Color</span>
          <ul class="color__list">
            <li>
              <a
                href="#"
                class="color__link"
                style="background-color: hsl(37, 100%, 65%)"
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="color__link"
                style="background-color: hsl(353, 100%, 65%)"
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="color__link"
                style="background-color: hsl(49, 100%, 60%)"
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="color__link"
                style="background-color: hsl(304, 100%, 78%)"
              ></a>
            </li>
            <li>
              <a
                href="#"
                class="color__link"
                style="background-color: hsl(126, 61%, 52%)"
              ></a>
            </li>
          </ul>
        </div>
        <div class="details__size flex">
          <span class="details__size-title">Size</span>
          <ul class="size__list">
            <li>
              <a href="#" class="size__link size-active">M</a>
            </li>
            <li>
              <a href="#" class="size__link">L</a>
            </li>
            <li>
              <a href="#" class="size__link">XL</a>
            </li>
            <li>
              <a href="#" class="size__link">XXL</a>
            </li>
          </ul>
        </div> -->
        <div class="details__action">
          <!-- <input type="number" class="quantity" value="3" /> -->
          <a href="{% url 'add_product_from_details' product.id %}" class="btn btn--sm">Add To Card</a>
          <a href="{% url 'add_product_from_details_to_wishlist' product.id %}" class="details__action-btn link-active">
            <i class="fi fi-rs-heart"></i>
          </a>
        </div>
        <ul class="details__meta">
          <li class="meta__list flex"><span>SKU:</span>FWM15VKT</li>
          <li class="meta__list flex">
            <span>Tags:</span>Clothes, Women, Dress
          </li>
          {% if product.quantity > 0 %}
            <li class="meta__list flex">
              <span>Soni:</span>omborda {{product.quantity}} ta mavjud.
            </li>
          {% else %}
          <li class="meta__list flex">
            <span>Soni:</span>Hozirda mavjud emas.
          </li>
        {% endif %}
            
        </ul>
       
      </div>
    </div>
  </section>