{% load static %}
<section class="home section--lg">
    <div class="home__container container grid">
      <div class="home__content">
        <span class="home__subtitle">Qaynoq Chegirmalar</span>
        <h1 class="home__title">
          Modda Trenddagi <span>Ajoyib Toplamlar</span>
        </h1>
        <p class="home__description">
          %20 foiz gacha chegirmalar bilan pulingizni tejang
        </p>
        <a href="{% url "shop" %}" class="btn">Xarid Qilish</a>
      </div>
      <img src={% static "img/home-img.png" %} class="home__img" alt="hats" />
    </div>
  </section>