{% load static %}
<section class="newsletter section home__newsletter">
    <div class="newsletter__container container grid">
      <h3 class="newsletter__title flex">
        <img
          src="{% static 'img/logo.svg' %}"
          alt=""
          class="logo"
        />
      </h3>
      <p class="newsletter__title flex">
      Royhatdan o'ting va ozingizni imkoniyatlaringizni kengaytiring
      </p>
    </div>
  </section>

  <style>
    .logo {
      display: block;       /* tashqi whitespace olib tashlash */
      width: 150px;         /* kerakli kenglik — o'zgartiring */
      height: auto;         /* proporsiya saqlansin */
      max-height: 70px;     /* balandlikni limitlash */
      object-fit: contain;  /* rasmni buzmaslik uchun */
    }
 
  </style>