<section class="new__arrivals container section">
    <h3 class="section__title"><span>New</span> Arrivals</h3>
    <div class="new__container swiper">
      <div class="swiper-wrapper">

       {% for p in products %}
       <div class="product__item swiper-slide">
        <div class="product__banner">
          <a href="{% url 'details' p.id %}" class="product__images">
            <img
              src="{{p.image.url}}"
              alt=""
              class="product__img default"
            />
            <img
              src="{{p.image.url}}"
              alt=""
              class="product__img hover"
            />
          </a>

          <div class="product__actions">
            <a href="{% url 'details' p.id %}" class="action__btn" aria-label="Quick View">
              <i class="fi fi-rs-eye"></i>

            </a>

            <a href="#" 
              class="action__btn wishlist__btn" 
              aria-label="Add to Wishlist" 
              data-product-id="{{ p.id }}">
              <i class="fi fi-rs-heart"></i>
            </a>


            <a href="#" class="action__btn" aria-label="Compare">
              <i class="fi fi-rs-shuffle"></i>
            </a>
          </div>



          
          <div class="product__badge light-pink">New</div>
        </div>
        <div class="product__content">
          <span class="product__category">{{p.category}}</span>
          <a href="{% url 'details' p.id %}">
            <h3 class="product__title">{{p.name}}</h3>
          </a>
          <div class="product__rating">
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
            <i class="fi fi-rs-star"></i>
          </div>

          <div class="product__price flex">
            <span class="new__price">
              ${{ p.discount_price|default:p.price }}
            </span>
            {% if p.discount %}
              <span class="old__price">${{ p.price }}</span>
            {% endif %}
            <a href="#" 
            class="action__btn cart__btn" 
            aria-label="Add To Cart" 
            data-product-id="{{ p.id }}">
            <i class="fi fi-rs-shopping-bag-add"></i>
         </a>
            </a>
          </div>

          <a
            href=""
            class="action__btn cart__btn"
            aria-label="Add To Cart"
            data-product-id="{{ p.id }}">
            <i class="fi fi-rs-shopping-bag-add"></i>
          </a>
        </div>
      </div>
       {% endfor %}

      </div>

      <div class="swiper-button-prev">
        <i class="fi fi-rs-angle-left"></i>
      </div>
      <div class="swiper-button-next">
        <i class="fi fi-rs-angle-right"></i>
      </div>
    </div>
  </section>