<section class="login-register section--lg">
    <div class="login-register__container container grid">
      <div class="login">
        <h3 class="section__title">Create an Account</h3>
            <form class="form grid" method='POST'>
                {% csrf_token %}
                {% for field in form %}
                {{field.errors}}
                {{field}}
                {% endfor %}
      
            <div class="form__btn">
                <button class="btn">Submit & Register</button>
      </div>
      </div>
    </div>
  </section>
    