<section class="wishlist section--lg container">
    <div class="table__container">
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Stock Status</th>
            <th>Action</th>
            <th>Rename</th>
          </tr>
        </thead>
        <tbody>
          {% for w in wish_products %}
          <tr>
            <td>
              <img
                src="{{w.image.url}}"
                alt=""
                class="table__img"
              />
            </td>
            <td>
              <h3 class="table__title">
               {{w.name}}
              </h3>
              <p class="table__description">
                {{w.description}}
              </p>
            </td>
            <td>
              <span class="table__price">{{w.price}}</span>
            </td>
            <td><span class="table__stock">In Stock</span></td>
            <td><a href="" class="btn btn--sm">Add to Cart</a></td>
            <td><i class="fi fi-rs-trash table__trash"></i></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

